html {
    margin:0px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d3e0ea; /* Couleur de fond douce */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(57, 59, 187) !important;
    color:white;
}

.message-link {
    background-color: rgb(57, 59, 187) !important;
    color:white !important;
}